<p>login works!</p>
<a routerLink="/todo">View Todo</a>
<button (click)="view()">View</button>
<div [@openClose]="animationsState?'open'"></div>
<form [formGroup]="loginForm" (ngSubmit)="login()">
    <div>
        <input placeholder="email" formControlName="email" name="email" type="text">
        <div *ngIf="hasError('email')">
            <p *ngIf="get('email').errors.required">email is required</p>
            <p *ngIf="get('email').errors.minlength">email should be atleast 3 characters</p>
        </div>
    </div>
    <div>
        <input placeholder="password" formControlName="password" name="name" type="password">
        <div *ngIf="hasError('password')">
            <p *ngIf="get('password').errors.required">Password is required</p>
            <p *ngIf="get('password').errors.minlength">Password should be atleast 3 characters</p>
        </div>
    </div>
    <button type="submit" [disabled]="!loginForm.valid">login</button>
</form>
