<h1>{{title}}</h1>
<button (click)="addTodo()">Add Todo</button>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>description</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngIf="todos.length==0">No todos..</tr>
        <tr *ngFor="let todo of todos; let i=index">
            <td>{{todo._id}}</td>
            <td>{{todo.name}}</td>
            <td>{{todo.description}}</td>
            <td (click)="delete(todo)">Delete</td>
            <td (click)="edit(todo)">Edit</td>
        </tr>
    </tbody>
</table>
