<app-header title="Register"></app-header>

<form [formGroup]="registerForm" (ngSubmit)="add()">
    <div>
        <input placeholder="firstName" formControlName="firstName" name="name" type="text">
        <div *ngIf="hasError('firstName')">
            <p *ngIf="get('firstName').errors.required">FirstName is required</p>
            <p *ngIf="get('firstName').errors.minlength">FirstName should be atleast 3 characters</p>
        </div>
    </div>
    <div>
        <input placeholder="lastName" formControlName="lastName" name="name" type="text">
        <div *ngIf="hasError('lastName')">
            <p *ngIf="get('lastName').errors.required">LastName is required</p>
            <p *ngIf="get('lastName').errors.minlength">LastName should be atleast 3 characters</p>
        </div>
    </div>
    <div>
        <input placeholder="email" formControlName="email" name="name" type="text">
        <div *ngIf="hasError('email')">
            <p *ngIf="get('email').errors.required">Email is required</p>
            <p *ngIf="get('email').errors.minlength">Email should be atleast 3 characters</p>
        </div>
    </div>
    <div>
        <input placeholder="password" formControlName="password" name="name" type="password">
        <div *ngIf="hasError('password')">
            <p *ngIf="get('password').errors.required">Password is required</p>
            <p *ngIf="get('password').errors.minlength">Password should be atleast 3 characters</p>
        </div>
    </div>
    <div>
        <input placeholder="confirmPassword" formControlName="confirmPassword" name="name" type="password">
        <div *ngIf="hasError('confirmPassword')">
            <p *ngIf="get('confirmPassword').errors.required">Confirm Password is required</p>
            <p *ngIf="get('confirmPassword').errors.minlength">Confirm Password should be atleast 3 characters</p>
            <p *ngIf="get('confirmPassword').errors.passwordNotSame">Confirm Password doesn't match</
        </div>
        
    </div>
    <button type="submit" [disabled]="!registerForm.valid">Add</button>
</form>
